# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Environment Variables and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
serviceAccountKey.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor/System Files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Prisma
.prisma/
/backend/prisma/migrations/
